* {
    --icon-size: 40px;
    margin: 0;
    font-family: "JuraBook", monospace;
}

#player-info {
    background-color: #a37;
}
.player-tracker {
    max-width: 100%;
}
.tracker-section {
    background-color: grey;
}
#terran-items {
    background-color: #3a7;
}
#zerg-items {
    background-color: #a37;
}
#protoss-items {
    background-color: #37a;
}

.section-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, var(--icon-size)));
    grid-gap: 0.2rem;
    padding-bottom: 3px;
}
.tracker-section:has(input[type=checkbox]:checked) .section-body {
    display: none;
}
.section-title {
    position: relative;
    border-bottom: 3px solid black;
    /* margin-bottom: 3px; */
}
input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.tracker-section img {
    height: 100%;
    max-width: var(--icon-size);
    max-height: var(--icon-size);
    /* border: 1px solid #000000; */
    filter: grayscale(100%) contrast(75%) brightness(40%);
    background-color: black;
}
.tracker-section img.acquired {
    filter: none;
}
.item-counter img {
    filter: none;
}

/* Item groups */
.item-class {
    display: grid;
    grid-column: auto / span var(--item-class-columns);
    grid-row: auto / span 4;
    grid-auto-flow: column;
    /* grid-template-columns: subgrid; */
    /* grid-template-rows: repeat(5, var(--icon-size)); */
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-gap: 0;
}
.class-width-1 {
    --item-class-columns: 1;
}
.class-width-2 {
    --item-class-columns: 2;
}
.class-width-3 {
    --item-class-columns: 3;
}
.class-width-4 {
    --item-class-columns: 4;
}
:has(.item-class) > img {
    grid-row: auto / span 2;
}

/* Progressive items */
.progressive-0, .progressive-1 {
    max-height: var(--icon-size);
}

.progressive-1 img, .progressive-2 img,
.progressive-3 img, .progressive-4 img,
.progressive-5 img {
    filter: none;
}
.progressive-0 :nth-child(2),
.progressive-0 :nth-child(3),
.progressive-0 :nth-child(4),
.progressive-0 :nth-child(5) {
    display: none;
}
.progressive-1 :nth-child(2),
.progressive-1 :nth-child(3),
.progressive-1 :nth-child(4),
.progressive-1 :nth-child(5) {
    display: none;
}
.progressive-2 :nth-child(1),
.progressive-2 :nth-child(3),
.progressive-2 :nth-child(4),
.progressive-2 :nth-child(5) {
    display: none;
}
.progressive-3 :nth-child(1),
.progressive-3 :nth-child(2),
.progressive-3 :nth-child(4),
.progressive-3 :nth-child(5) {
    display: none;
}
.progressive-4 :nth-child(1),
.progressive-4 :nth-child(2),
.progressive-4 :nth-child(3),
.progressive-4 :nth-child(5) {
    display: none;
}
.progressive-5 :nth-child(1),
.progressive-5 :nth-child(2),
.progressive-5 :nth-child(3),
.progressive-5 :nth-child(4) {
    display: none;
}

/* Filler item counters */
.item-counter {
    display: table;
    text-align: center;
    grid-column: span 3;
}
.item-count {
    display: table-cell;
    vertical-align: middle;
}

/* Allowing scrolling down a little further */
.bottom-padding {
    min-height: 33vh;
}